<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
       
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fa fa-clipboard"></i>
          Briefs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-inbox"></i>
          Rendus
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fa fa-wpexplorer"></i>
          Explorer
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-comments"></i>
          Forum
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/admin/parametres']">
          <i class="fa fa-wrench"></i>
          Parametres
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']">
          <i class="fa fa-user"></i>
          Users
        </a>
      </li>
      <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fa fa-spinner"></i>
          Historique des Promos
        </a>
      </li>
    </ul>
    <ul> 
      
      <a class="nav-link" [routerLink]="['/']" style="color: red" >
      <i class="fa fa-power-off" (click)="logoutProcess()"></i>
    </a>
    </ul>
  </div>
</nav>
