#listecompetences{
    border: 2px solid #008e8e;
    height: auto;
}
.first-div{
margin-left:1.5%;
width: 90%;
background-color: #E3E3E3;
}
.auth-bar{

    background-color: white;
    font-weight: bolder;
    color: black;

}
.list-div{
    width:40%;
    float: left;
    }
.outlet-div{
        width:55%;
        float:right;

        }
.third-div{
    width:90%;
    margin-left: 1.5%;
    margin-top: 5%;
}