.main-div{
   margin-top: 3%;
    height: 100%;
  }
  .auth-bar,.submit-button{
    background-color:#008e8e
  
  }
  .main-card{
    
    background-color:#E3E3E3;
    
     width: auto;
   
  }
  .text-input{
   
   
  
  }
  .text-card,.file-choose{

    width:80%;
    margin-left:10%;
    color:black;
   
  }
  .btn{
      width:30%;
      margin-left: 60%;
      background-color: #008e8e;
      font-weight: bolder;
      text-decoration-color: white;
  }
  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #008e8e !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #008e8e !important;;
  }
  .mat-radio-button ~ .mat-radio-button {
    
    margin-left: 10%;
  }
  .mat-radio-button{
    margin-left: 10%;
    color:black;
  }
  img{
    margin-top: 1%;
    width: 20%;
    border-radius: 120%;
    height: 250px;
    float: right;
    border:2px solid #008e8e;
  }