
    <div class="pt-5">
      <mat-card fxFlex="25" class="main-card">
        <mat-toolbar class="auth-bar">Creation groupe de Compentences</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form"  [formGroup]="grpcompetencesForm" (ngSubmit)="AddgrpCompetences()" >
            <mat-form-field class="text-card">
                <mat-label>Libelle</mat-label>
                <input matInput placeholder="Développer le back-end" formControlName='libelle'>
              </mat-form-field>
              <mat-form-field class="text-card">
                <mat-label>Descriptif</mat-label>
                <textarea matInput placeholder="Donner le descriptif" rows="3"  formControlName='description'></textarea>
              </mat-form-field>
                   <mat-accordion class="example-card">
                    <mat-expansion-panel (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="auth-bar">Choisir les compentences à associer à ce groupe
                      </mat-expansion-panel-header>
                      <mat-chip-list #chipList formArrayName="competences">  
                        <mat-chip *ngFor="let fruit of fruits"
                        [selectable]="selectable"
                        (click)="click(fruit)"
                        [removable]="removable"
                        (removed)="remove(fruit)" 
                        [ngClass]="{'selectedChip': clicked}">
                          {{fruit}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                        placeholder="Ajouter une nouvelle competence"
                        #fruitInput
                        [formControl]="fruitCtrl"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event)"
                        style="border-bottom: 3px solid black; width:30px;">
                      </mat-chip-list>
                    </mat-expansion-panel>
                  </mat-accordion>  <br><br>
       <button mat-raised-button type="submit" class="btn">Soumettre</button>
        </form>
      </mat-card>
   
    </div>
    