<div class="container">
    <div class="p-5">
      <mat-card fxFlex="25" class="main-card">
        <mat-toolbar class="auth-bar">Ajouter un profil de sortie</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="add-user-form"   >
            <mat-form-field class="text-card">
                <mat-label>libelle</mat-label>
            <input matInput placeholder="develloper Cms" name="libelle"   [(ngModel)]="formGroup.libelle">
          </mat-form-field>
      <button mat-raised-button type="submit" class="btn">Soumettre</button>
        </form>
      </mat-card>
    </div>
    </div>
    